NEXT_PUBLIC_EVAL_EMAIL=your_email
NEXT_PUBLIC_EVAL_NAME=your_name
NEXT_PUBLIC_EVAL_ROLL_NO=your_roll_no
NEXT_PUBLIC_EVAL_ACCESS_CODE=your_access_code
NEXT_PUBLIC_EVAL_CLIENT_ID=your_client_id
NEXT_PUBLIC_EVAL_CLIENT_SECRET=your_client_secret
